<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaoqi.mapper.ProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yaoqi.entity.Product">
        <result column="blockchainId" property="blockchainId" />
        <result column="productName" property="productName" />
        <result column="category" property="category" />
        <result column="ipfsImageHash" property="ipfsImageHash" />
        <result column="ipfsDescHash" property="ipfsDescHash" />
        <result column="auctionStartTime" property="auctionStartTime" />
        <result column="auctionEndTime" property="auctionEndTime" />
        <result column="price" property="price" />
        <result column="productCondition" property="productCondition" />
        <result column="productStatus" property="productStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        blockchainId, productName, category, ipfsImageHash, ipfsDescHash, auctionStartTime, auctionEndTime, price, productCondition, productStatus
    </sql>

</mapper>
